<div class="page-container">
  <mat-sidenav-container class="dashboard-container">
    <mat-sidenav class="sidebar" #sidenav mode="side" closed>
      <mat-nav-list>
        <!-- <a class="nav-item" mat-list-item routerLink="patients" id="patient-nav" (click)="showPatients()" >
          <span>Patients</span>
        </a>
        <a class="nav-item" mat-list-item routerLink="doctors" id="doctor-nav" (click)="showDoctors()" >
          <span>Doctors</span>
        </a>
        <a class="nav-item" mat-list-item routerLink="appointments" id="appointment-nav" (click)="showAppointments()" >
          <span>Appointments</span>
        </a> -->
        @if (role == 'Admin' || role == 'Patient') {
          <a class="nav-item" mat-list-item id="patient-home-nav" (click)="navToPatientHome()" >
            <span>Patient Home</span>
          </a>
        }

        @if (role == 'Admin' || role == 'Doctor') {
          <a class="nav-item" mat-list-item id="doctor-home-nav" (click)="navToDoctorHome()" >
            <span>Doctor Home</span>
          </a>
        }

        @if (role == 'Admin') {
          <a class="nav-item" mat-list-item id="patient-table-nav" (click)="navToPatientTable()" >
            <span>All Patients</span>
          </a>
        }

        @if (role == 'Admin') {
          <a class="nav-item" mat-list-item id="doctor-table-nav" (click)="navToDoctorTable()" >
            <span>All Doctors</span>
          </a>
        }

        @if (role == 'Admin') {
          <a class="nav-item" mat-list-item id="appointment-table-nav" (click)="navToAppointmentTable()" >
            <span>All Appointments</span>
          </a>
        }

        <a class="nav-item" mat-list-item id="support-nav" (click)="navToSupport()">
          <span>Support desk</span>
        </a>
      </mat-nav-list>

      <ng-container *ngIf="role == 'Admin'">
        <hr class="admin-hr">
      </ng-container>

      <ng-container *ngIf="role == 'Patient' || role == 'Doctor'">
        <hr class="non-admin-hr">
      </ng-container>

      <a class="logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toolbar">
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Dashboard</span>
          <mat-icon class="account">account_circle</mat-icon>
        </mat-toolbar>
      </div>

      <div class="content-area">
        @if (role == 'Patient') {
          <span class="welcome-title"><strong>Welcome {{role}},</strong></span>
        }
        @if (role == 'Doctor') {
          <span class="welcome-title"><strong>Welcome {{role}},</strong></span>
        }
        @if (role == 'Admin') {
          <span class="welcome-title"><strong>Welcome {{role}},</strong></span>
        }

        <div>
          <span class="dashboard-content"><strong>Dashboard to be implemented</strong></span>
        </div>

        <div class="dashboard-stats">
          <mat-card class="stat-card" *ngFor="let s of stats" (click)="cardClick(s)">
            <mat-icon class="stat-icon">{{ s.icon }}</mat-icon>
            <div class="stat-title">{{ s.name }}</div>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
