.patient-table {
  margin: 16px;
  border-radius: 4px;
  overflow: hidden;

  #patient-table {
    width: 100%;
    height: 500px;
  }
}
:host {
  display: block;
  margin: 1rem;
}

.tabulator {
  font-family: Roboto, sans-serif;
  border: none;
}

