form {
  background-color:aliceblue;
  mat-select {
    mat-option.specialistOption {
      background-color: aliceblue;
      opacity: 100%;
    }
  }
}

div.booking-dialog {
  background-color: aliceblue;
}
