<div class="container" [class.right-panel-active]="rightPanelActive">
  <!-- Sign Up Panel -->
  <div class="form-container sign-up-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <h1>Create Account</h1>

      <input
        type="text"
        placeholder="Name"
        formControlName="signUpName"
      />
      <div class="error" *ngIf="signUpForm.get('signUpName')?.invalid && signUpForm.get('signUpName')?.touched">
        Name is required.
      </div>
      <div class="error"
           *ngIf="signUpForm.get('signUpName')?.invalid && (signUpForm.get('signUpName')?.dirty || signUpForm.get('signUpName')?.touched)">
        Enter a valid name.
      </div>


      <input
        type="email"
        placeholder="Email"
        formControlName="signUpEmail"
      />
      <div class="error" *ngIf="signUpForm.get('signUpEmail')?.errors?.['required'] && signUpForm.get('signUpEmail')?.touched">
        Email is required.
      </div>
      <div class="error" *ngIf="signUpForm.get('signUpEmail')?.errors?.['email'] && signUpForm.get('signUpEmail')?.touched">
        Enter a valid email.
      </div>

      <input
        type="password"
        placeholder="Password"
        formControlName="signUpPassword"
      />
      <div class="error" *ngIf="signUpForm.get('signUpPassword')?.errors?.['required'] && signUpForm.get('signUpPassword')?.touched">
        Password is required.
      </div>
      <div class="error" *ngIf="signUpForm.get('signUpPassword')?.errors?.['minlength'] && signUpForm.get('signUpPassword')?.touched">
        Minimum 6 characters.
      </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Role</mat-label>
          <mat-select formControlName="signUpRole">
            <mat-option value="Patient">Patient</mat-option>
            <mat-option value="Doctor">Doctor</mat-option>
            <mat-option value="Admin">Admin</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>

      <p class="switch" (click)="showSignIn()">Already have an account? Sign In</p>
    </form>
  </div>

  <!-- Sign In Panel -->
  <div class="form-container sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <h1>Sign in</h1>

      <input
        type="email"
        placeholder="Email"
        formControlName="loginEmail"
      />
      <div class="error" *ngIf="signInForm.get('loginEmail')?.errors?.['required'] && signInForm.get('loginEmail')?.touched">
        Email is required.
      </div>
      <div class="error" *ngIf="signInForm.get('loginEmail')?.errors?.['email'] && signInForm.get('loginEmail')?.touched">
        Enter a valid email.
      </div>

      <input
        type="password"
        placeholder="Password"
        formControlName="loginPassword"
      />
      <div class="error" *ngIf="signInForm.get('loginPassword')?.errors?.['required'] && signInForm.get('loginPassword')?.touched">
        Password is required.
      </div>
      <div class="error" *ngIf="signInForm.get('loginPassword')?.errors?.['minlength'] && signInForm.get('loginPassword')?.touched">
        Minimum 6 characters.
      </div>

      <button type="submit">Sign In</button>
      <p class="switch" (click)="showSignUp()">New here? Create Account</p>
    </form>
  </div>

  <!-- Overlay Panels -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" (click)="showSignIn()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start your journey</p>
        <button class="ghost" (click)="showSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
